
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #f3f4f6; /* Tailwind's gray-100 */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #fb923c; /* Tailwind orange-400 */
  border-radius: 4px;
}
